/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

#dataServico {
    padding: 8px;                 
    font-size: 18px;               
    color: #333;                  
    width: 40%;
}

#tecnico {
    padding: 8px;                 
    font-size: 18px;               
    color: #333;                  
    width: 60%;
} 

#cnpj {
    padding: 8px;                 
    font-size: 18px;               
    color: #333;                  
    width: 60%;
    display: block;
}

#razaoSocial {
    padding: 8px;                 
    font-size: 18px;               
    color: #333;                  
    width: 80%;
    display: block;
}


#descricaoServico {
    padding: 8px;                 
    font-size: 18px;               
    color: #333;                  
    width: 200%;
    display: block;
}

#valor {
    padding: 8px;                 
    font-size: 18px;               
    color: #333;                  
    width: 30%;
}

input, textarea {
    width: 99%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #8391fd;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
}

#GeraOrdem {
    background-color: #a97e18;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
}

#gerarPDF {
    background-color: #a97e18;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
}


button:hover {
    background-color: #45a049;
}

canvas {
    width: 100%;
    max-width: 500px;
    height: 150px;
    border: 1px solid #000;
    display: block;
    margin: auto;
}

